.c1 {
    border-color: brown 5px;
    display: block;
    text-decoration: none;
}
#im1{
    border: 2px solid rgb(128, 0, 0);
}
table{
    border-collapse: collapse;
    background-color: aqua;
    margin :auto
}