
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{

 font-family: "Roboto", sans-serif;
margin: 0px;
padding: 0px;

}
body{
    background-color: black;
     border-radius: 50px;
}
#i1{
    margin-top: 100px;
    margin-left: 200px;
   
    justify-content: center;
    input{
        width: 300px;
        border:none;
        padding: 30px;
        margin: 10px;
        background-color: transparent;
        box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
        color: white;font-size: 32px;
        cursor: pointer;
        text-align: right;
    

    }
    input::placeholder{
        color: white;
    }
    button{
        width: 60px;
        height: 60px;
        margin: 10px;
        background-color: transparent;
        color: white;
        box-shadow:0px 3px 15px rgba(113,115,119,0.5); 
        padding: 10px;
        border-radius: 50%;
        border: none;
        cursor: pointer;

    }
    .b1{
        color: rgb(92, 128, 0);
    }
    .b2{
        color: red;
    }
    .b3{
        background-color: orangered;
        font-size: 20px;
    }
    .bt{
        color: green;
    }
    .class{
        border-radius: 10px;
    }
    #a1{
        border-radius: 10px;
        border: color:red;
    }

}
